* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html body {
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
/* Header Start */
.top-header {
    background-color: black;
    color: white;
    display: flex;
    width: auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
}

.top-heading {
    margin-left: 20%;
}
.top-dropdown {
    margin-left: 20px;
}
/* Header End */
/* Navbar Start */
.navbar {
    display: flex;
    padding: 2% 8%;
    justify-content: space-between;
}

.nav-ul {
    display: flex;
    list-style: none;
    column-gap: 55px;
    margin-right: 12%;
}

.active {
    border-bottom: 3px solid #828288;
    margin-bottom: 20px;
}

.navbar-right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
form {
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #828288; 
    padding: 4px 8px;
    border: none;
}

i {
    color: #828288;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #f5f5f5;
    color: #828288;
}

.icons img {
    align-items: center;
}

/* hr {
    border: 0.25px solid #828288;
} */
/* Navbar End */
/* Hero Start */
.hero {
    padding: 0 8%;
    display: flex;
}
.hero-left {
    display: flex;
    width: 20%;
    
}

.hero-left ul {
    margin-top: 20px;
}
.hero-left ul li{
    list-style: none; 
    margin-top: 22px;  
}

.dropdown-1 {
    display: flex;
    justify-content: space-between;
}

.dropdown-2 {
    display: flex;
    justify-content: space-between;
}
.dropdown-right {
    margin-left: 30px;
}
.vl {
    border-left: 0.5px solid #a1a1a1;
    height: 430px;
    left: 30%;
    margin-left: -1px;
    margin-top: 0;
}
.hero-right {
    width: 80%;
    height: 396px;
    margin: 40px 0 0 0;
    background-color: black;
    display: flex;
    justify-content: space-between;
}

.heading {
    width: auto;
    margin: 50px 50px;
    color: white;
}
.hero-right img {
    width: 496px;
    height: 390px;
}
.iphone {
    display: flex;
    color: #a1a1a1;
}

.iphone img {
    width: 40px;
    height: 49px;
}
.iphone h2 {
    margin: 20px 0 20px 20px;
}

.heading h1{
    font-size: 48px;
    font-weight: 600;
    margin: 20px 0;
}

.shop h3 {
    color: #FFFF;
    border-bottom: 3px solid #FFFF;
    display: flex;
    width: 80px;
    margin-bottom: 20px;
}
.shop h3 img {
    width: 20px;
    height: 20px;
    margin-left: 15px;
}

/* Hero End */
/* Flash Sales Start */
.flash-sales {
    padding: 0 8%;
    margin-top: 5%;
    display: flex;
}

.flash-sales-left {
    width: 50%;
    display: flex;
    justify-content: space-between;
}

.flash-heading h4 {
    color: #DB4444;
    display: flex;
}
.flash-heading img {
    margin-right: 20px;
}
.flash-heading h1 {
    margin-top: 20px;
}
.flash-time {
    display: grid;
    grid-template-columns: auto auto auto auto;
    margin-top: 45px;
    column-gap: 10px;
}
.time {
    display: flex;
    column-gap: 10px;
}
.time img {
    width: 4px;
    height: 16px;
    align-items: center;
    margin-top: 30px;
}

.flash-sales-right {
    width: 50%;
    padding-left: 470px;
    padding-top: 50px;  
} 

/* Flash Sales End */
/* All Products Start */
.all-products-container {
    margin-left: 8%;
    margin-top: 40px;
    display: flex;
    column-gap: 20px;
}

.products-card {
    width: 270px;
    height: 350px;
}

.card-details {
    width: 200px;
    height: 84px;
    padding: 10px 0;
}

.Products-btn {
    margin: 2% 8%;
}

.price {
    display: flex;
    padding: 10px 0;
    column-gap: 10px;
}

.rating {
    display: flex;
    column-gap: 10px;
}

.present {
    color: #DB4444;
}

.previous {
    color: #a1a1a1;
}

.quantity {
    color: #a1a1a1;
}
.Products-btn {
    padding: 10px 20px;
    background-color: #DB4444;
    color: white;
    border: none;
    border-radius: 5px;
    justify-content: center;
    margin: 4% 42%;
}
.hr {
    width: 84%;
    margin-left: 8%;
    margin-top: 2%;
}
/* All Products End */
/* Browse Categories Start */
.browse-categories {
    padding: 0 8%;
    margin-top: 5%;
    display: flex;
}
.browse-categories-left {
    width: 50%;
}
.browse-categories-heading img {
    margin-right: 20px;
}
.browse-categories-heading h4 {
    margin-right: 20px;
}
.browse-categories-right {
    width: 50%;
    padding-left: 470px;
    padding-top: 50px;
}
.browse-card-container {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between; 
}
.browse-card, .camera {
    width: 170px;
    height: 145px;
    border: 1px solid #a1a1a1;
    border-radius: 4px;
    position: relative;
}
.browse-card img {
    position: absolute;
    top: 20%;
    left: 30%;
}
.browse-card p {
    position: absolute;
    top: 70%;
    left: 30%;
}
.camera {
    background-color: #DB4444;
    border: none;
    color: white;
}
/* Browse Categories End */
/* Best Salling Products Start */
.best-salling-products {
    padding: 0 8%;
    margin-top: 5%;
    display: flex;
}
.best-salling-products-left {
    width: 50%;
}
.best-salling-products-heading img {
    margin-right: 20px;
}
.best-salling-products-heading h4 {
    margin-right: 20px;
}
.best-salling-products-right {
    width: 50%;
    padding-left: 450px;
    padding-top: 40px;
}
.view-all {
    padding: 10px 30px;
    border-radius: 4px;
    background-color: #DB4444;
    color: white;
    border: none;
}
.best-salling-products-card-container {
    padding: 2% 8%;
    display: flex;
    justify-content: space-between;
}
/* Best Salling Products End */
/* Music Experience Start */
/* Music Experience End */